SchoolChallenge/BusinessLayer/bin/
SchoolChallenge/BusinessLayer/obj/
SchoolChallenge/DataAccessLayer/bin/
SchoolChallenge/DataAccessLayer/obj/
SchoolChallenge/packages/
SchoolChallenge/SchoolChallenge.Common/bin/
SchoolChallenge/SchoolChallenge.Common/obj/
SchoolChallenge/SchoolChallenge.Migration/bin/
SchoolChallenge/SchoolChallenge.Migration/obj/
SchoolChallenge/Schoolchallenge.Model/bin/
SchoolChallenge/Schoolchallenge.Model/obj/
SchoolChallenge/SchoolChallenge.Tests/bin/
SchoolChallenge/SchoolChallenge/bin/
SchoolChallenge/SchoolChallenge/obj/
SchoolChallenge/SchoolChallenge.Tests/obj/
